examples/basic-usage.json
[
    {
        "id": "b-inject-event",
        "type": "inject",
        "name": "Sensor event (click 3 times)",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "exceeded",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [["b-threshold"]]
    },
    {
        "id": "b-inject-stop",
        "type": "inject",
        "name": "Stop (abort the cycle)",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [["b-threshold"]]
    },
    {
        "id": "b-inject-reset",
        "type": "inject",
        "name": "Reset (wipe count, stay armed)",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 160,
        "y": 220,
        "wires": [["b-threshold"]]
    },
    {
        "id": "b-inject-query",
        "type": "inject",
        "name": "Query",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "query",
        "payloadType": "str",
        "x": 90,
        "y": 280,
        "wires": [["b-threshold"]]
    },
    {
        "id": "b-threshold",
        "type": "timer-threshold",
        "name": "3 in 30s (fixed)",
        "countlimit": "3",
        "window": "30",
        "windowType": "num",
        "windowunits": "Second",
        "windowmode": "fixed",
        "reporting": "every_second",
        "reportingformat": "human",
        "persist": false,
        "cooldownduration": "0",
        "cooldownunits": "Second",
        "heartbeatinterval": "0",
        "heartbeatintervalunits": "Second",
        "x": 420,
        "y": 180,
        "wires": [
            ["b-debug-trigger"],
            ["b-debug-query"],
            ["b-debug-events"]
        ]
    },
    {
        "id": "b-debug-trigger",
        "type": "debug",
        "name": "1 TRIGGER (3rd event within 30s - clone of the final message)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "b-debug-query",
        "type": "debug",
        "name": "2 QUERY (count / windowRemaining snapshot)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "b-debug-events",
        "type": "debug",
        "name": "3 EVENTS (counted / windowexpired / stopped / reset)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 240,
        "wires": []
    }
]
