examples/cooldown.json
[
  {
    "id": "c-inject-event",
    "type": "inject",
    "name": "Sensor event (click 2 times, then keep clicking during cooldown)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "exceeded",
    "payloadType": "str",
    "x": 250,
    "y": 100,
    "wires": [["c-threshold"]]
  },
  {
    "id": "c-inject-stop",
    "type": "inject",
    "name": "Stop (the only way to cancel a cooldown early)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "stop",
    "payloadType": "str",
    "x": 200,
    "y": 160,
    "wires": [["c-threshold"]]
  },
  {
    "id": "c-inject-query",
    "type": "inject",
    "name": "Query (during cooldown: timerState=cooldown)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "query",
    "payloadType": "str",
    "x": 200,
    "y": 220,
    "wires": [["c-threshold"]]
  },
  {
    "id": "c-threshold",
    "type": "timer-threshold",
    "name": "2 in 30s, 20s cooldown",
    "countlimit": "2",
    "window": "30",
    "windowType": "num",
    "windowunits": "Second",
    "windowmode": "fixed",
    "reporting": "every_second",
    "reportingformat": "human",
    "persist": false,
    "cooldownduration": "20",
    "cooldownunits": "Second",
    "heartbeatinterval": "0",
    "heartbeatintervalunits": "Second",
    "x": 540,
    "y": 160,
    "wires": [["c-debug-trigger"], ["c-debug-query"], ["c-debug-events"]]
  },
  {
    "id": "c-debug-trigger",
    "type": "debug",
    "name": "1 TRIGGER (fires once - stays silent through the 20s cooldown)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 100,
    "wires": []
  },
  {
    "id": "c-debug-query",
    "type": "debug",
    "name": "2 QUERY (cooldownRemaining counts down)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 830,
    "y": 160,
    "wires": []
  },
  {
    "id": "c-debug-events",
    "type": "debug",
    "name": "3 EVENTS (cooldownstarted / counted ignored:true / cooldownended)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 910,
    "y": 220,
    "wires": []
  }
]
