examples/runtime-commands.json
[
  {
    "id": "r-inject-event",
    "type": "inject",
    "name": "Sensor event",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "exceeded",
    "payloadType": "str",
    "x": 110,
    "y": 80,
    "wires": [["r-threshold"]]
  },
  {
    "id": "r-inject-setlimit",
    "type": "inject",
    "name": "Set count limit = 2 (triggers NOW if 2 already counted)",
    "props": [
      { "p": "payload" },
      { "p": "setcountlimit", "v": "2", "vt": "num" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "setcountlimit",
    "payloadType": "str",
    "x": 230,
    "y": 140,
    "wires": [["r-threshold"]]
  },
  {
    "id": "r-inject-setwindow",
    "type": "inject",
    "name": "Set window = 10 seconds (re-evaluates a live cycle)",
    "props": [
      { "p": "payload" },
      { "p": "setwindow", "v": "10", "vt": "num" },
      { "p": "setwindowunits", "v": "seconds", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "setwindow",
    "payloadType": "str",
    "x": 220,
    "y": 200,
    "wires": [["r-threshold"]]
  },
  {
    "id": "r-inject-disable",
    "type": "inject",
    "name": "Disable (events no longer counted)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "disable",
    "payloadType": "str",
    "x": 170,
    "y": 260,
    "wires": [["r-threshold"]]
  },
  {
    "id": "r-inject-enable",
    "type": "inject",
    "name": "Enable",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "enable",
    "payloadType": "str",
    "x": 90,
    "y": 320,
    "wires": [["r-threshold"]]
  },
  {
    "id": "r-inject-query",
    "type": "inject",
    "name": "Query (see the effective limit and window)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "query",
    "payloadType": "str",
    "x": 190,
    "y": 380,
    "wires": [["r-threshold"]]
  },
  {
    "id": "r-threshold",
    "type": "timer-threshold",
    "name": "5 in 60s (runtime adjustable)",
    "countlimit": "5",
    "window": "60",
    "windowType": "num",
    "windowunits": "Second",
    "windowmode": "fixed",
    "reporting": "every_second",
    "reportingformat": "human",
    "persist": false,
    "cooldownduration": "0",
    "cooldownunits": "Second",
    "heartbeatinterval": "0",
    "heartbeatintervalunits": "Second",
    "x": 530,
    "y": 220,
    "wires": [["r-debug-trigger"], ["r-debug-query"], ["r-debug-events"]]
  },
  {
    "id": "r-debug-trigger",
    "type": "debug",
    "name": "1 TRIGGER (a lowered limit can fire this immediately)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 160,
    "wires": []
  },
  {
    "id": "r-debug-query",
    "type": "debug",
    "name": "2 QUERY (countLimit / windowDuration reflect overrides)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 220,
    "wires": []
  },
  {
    "id": "r-debug-events",
    "type": "debug",
    "name": "3 EVENTS (countlimitset / windowset / disabled / enabled - invalid values arrive ignored:true)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 990,
    "y": 280,
    "wires": []
  }
]
