examples/sliding-window.json
[
  {
    "id": "s-inject-event",
    "type": "inject",
    "name": "Sensor event (space clicks out - watch the count decay)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "exceeded",
    "payloadType": "str",
    "x": 230,
    "y": 120,
    "wires": [["s-threshold"]]
  },
  {
    "id": "s-inject-query",
    "type": "inject",
    "name": "Query (see the decayed count)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "query",
    "payloadType": "str",
    "x": 160,
    "y": 200,
    "wires": [["s-threshold"]]
  },
  {
    "id": "s-threshold",
    "type": "timer-threshold",
    "name": "3 in 15s (sliding)",
    "countlimit": "3",
    "window": "15",
    "windowType": "num",
    "windowunits": "Second",
    "windowmode": "sliding",
    "reporting": "every_second",
    "reportingformat": "human",
    "persist": false,
    "cooldownduration": "0",
    "cooldownunits": "Second",
    "heartbeatinterval": "0",
    "heartbeatintervalunits": "Second",
    "x": 490,
    "y": 160,
    "wires": [["s-debug-trigger"], ["s-debug-query"], ["s-debug-events"]]
  },
  {
    "id": "s-debug-trigger",
    "type": "debug",
    "name": "1 TRIGGER (3 events all within any 15s span)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 100,
    "wires": []
  },
  {
    "id": "s-debug-query",
    "type": "debug",
    "name": "2 QUERY (msg.count drops as events age out individually)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 850,
    "y": 160,
    "wires": []
  },
  {
    "id": "s-debug-events",
    "type": "debug",
    "name": "3 EVENTS (windowexpired fires ONLY on decay to zero - intermediate decay is silent)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 220,
    "wires": []
  }
]
